.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home{
  display: grid;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}
.sidenav {
  height: 100%; 
  width: 5%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #e4d8d8; 
  overflow-x: hidden; 
  padding-top: 60px;   
  transition: 0.5s; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sidenav i{
  color:rgb(35, 22, 5);
}
.nav-link{
  margin-bottom: 50%;
  padding: 10%;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.firstMain{
  /* background-color: pink; */
  width: 350px;
  height: 90vh;


}
.secondMain{
  width: 100px;
  
  /* background-color: yellow; */
  margin-top: 0%;
  padding: 1%;
  /* margin-left:1%; */
 
}
.videoMain{
  display: flex;
  flex-direction: row;
  /* background-color: brown; */
  position: relative;
}

.title{
  position: absolute;
  left:98%;
  top:20%;
  margin-left:5%;
  width: 300px;
  height: 100px;
  /* background-color: aqua; */
  color: rgb(35, 22, 5);
}



.likeButton{
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

}
.dislikeButton{
  width: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

}
span{
  margin-left: 10px;
}
button{
  /* width: 40%; */
  border: none;
}

i{
  font-size: 25px;
}

@media screen and (max-width:768px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   .App{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidenav {
    height:2%; 
    width: 100%; 
    position: fixed;     
    z-index: 1; 
    /* top: 0; */
    top: unset;
    left: 0;
    bottom: 0;
    background-color: #e4d8d8; /* Black*/
    overflow-y: hidden; 
    padding-bottom: 2px;
    transition: 0.5s; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
  }
   .nav-link{
   
    background-color: none;
    margin: 3%;
    padding: 5%;
    margin-bottom: 10%;
    
    
  
  }
  .sidenav i{
    color:rgb(35, 22, 5);
    font-size: 20px;
    
  }
  .home{
    display: grid;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: pink; */
  }
  .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:76vh ;
    position: relative;
  }
  .firstMain{
    
    height: 90vh;
  
  }
  .videoMain{
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    position: relative;
  }
  .title{
    position: absolute;
    left:10%;
    top:80%;
    margin-left:5%;
    width: 300px;
    height: 100px;
    /* background-color: aqua; */
    color: rgb(35, 22, 5);
  }
  
  
  .secondMain{
    width: 100px;
    /* background-color: yellow; */
    margin-top: 0%;
    padding: 1%;
    /* margin-left:1%; */
    z-index: 1;
    position: absolute;
    right: 30px;
    bottom: 150px;
    /* background-color: red; */
    
   
  }
  .likeButton{
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: yellow; */
  
  }
  .dislikeButton{
    width: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  
  }
  span{
    margin-left: 10px;
  }
  button{
    /* width: 40%; */
    border: none;
    background-color:transparent;
    
    
  }
  
  i{
    font-size: 25px;
    background-color:none;
    /* border-radius: 0%; */
    z-index: 1;
    color: rgb(15, 13, 13);
    
    
  }
  

  
}
